@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bfc8de;
  font-family: 'Maven Pro', sans-serif;
}

.pagefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% ;
}

.container{
  height: 100%;
  width: 100%;
}


.copy-container{
  min-height: 100%;
  width: 100%;
}

.gr{
  display: flex;
  flex-direction: column;
  background: linear-gradient( #bfc8de , rgba(103, 99, 188, 0.536)) 

}

.br{
  background-color: rgba(103, 99, 188, 0.536)
}

.contrast-color{
  color: rgba(220, 9, 9, 0.291);
  font-weight: bold ;
}

.vertical-line{
  position: relative;
  left: 10%;
  width:1500px;
  height: 10px;
  background-color: rgb(3, 3, 3);
  transform: translateY(40px) translateX(-230px) rotate(90deg);
  border-radius: 20px;
  z-index: -99;
  filter: blur(10px);
}




.cont-cont{
  height: 140px;
  margin-left: calc(-400px - 6vw);
  margin-right: 30px;
  margin-top: 70px;
  position: relative;
  top: calc(50% - 140px);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.name{
  font-size: 85px;
}

.phrase{
  margin-top: 20px ;
  font-size: 35.6px;
}

.phrase-two{
  font-size: 72px;
}


.box-one{
  min-height: 400px;
  position: relative;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: -120px;
  padding-bottom: 40px;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;

}

.card{
  height: 460px;
  width: 350px;
  background-color: rgba(39, 39, 39, 0.841);
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #ffffff;

  background: none;
  backdrop-filter: blur(20px);
}


.button{
  width: 100px;
  height: 50rem;
  background-color: yellowgreen;
}

.more{
  box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  border-radius: 20px;
  width: 347px;
  border: none;
  text-align: center;
  padding: 20px;
  backdrop-filter: blur(15px);
  transition: 800ms ;
  color: white;
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(2, 2, 107, 0.221);
}

.play{
  background-color: rgba(255, 192, 203, 0.317);
}

.more:hover{
}


.line{
  position: relative;
  left: 10%;
  width:250px;
  height: 250px;
  background-color: rgb(6, 6, 6);
  transform: translateY(300px) rotate(15deg);
  border-radius: 20px;
  z-index: -99;
}



.dropdown-cont{
  width: 100%;
  display: flex;
  justify-content: center;
}

.vertical-line-two{
  width:8px;
  height:600px;
  background-color: rgba(3, 3, 3, 0.505);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: relative;
  z-index: 100;
}

.personal-info{
  width: 60%;
}


.title-main{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: rgba(253, 253, 253, 0.532);
}







@media (max-width:400px) {

  .more{
    margin-top: 55px;
    border-radius: 12px;
    scale: 1.1;
    width: 150px;
    padding: 8px;
    backdrop-filter: blur(30px);
  }
  
  .play{
    margin-top: 10px;
  }
  .cont-cont{
    scale: 0.79;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: calc(100vh - 422px - 150px);
    scale: 1.05;
    position: relative;
    top: 30px;
    text-align: center;
    color: white;
  }

  .gr{

    margin-top: -25%;
  }

  .name{
    font-size: 67px;
  }
  
  .phrase{
    margin-top: 20px ;
    font-size: 27px;
  }
  .phrase-two{
    font-size: 55px;
  }

  .personal-info{
    width: 90%;
  }

 
  
  .line{display: none;}
  .vertical-line{display: none;}
}


@media (min-width:400px) and (max-width:650px) {

  .more{
    border-radius: 20px;
    width: 272px;
    padding: 25px;
    backdrop-filter: blur(30px);
    font-size: 17px;
  }

  .cont-cont{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: calc(100vh - 422px - 200px);
    position: relative;
    top: 30px;
    text-align: center;
  }

  .name{
    font-size: 69px;
  }
  
  .phrase{
    margin-top: 20px ;
    font-size: 28px;
  }

  .phrase-two{
    font-size: 57.5px;
  }

  .personal-info{
    width: 80%;
  }



  .line{display: none;}
  .vertical-line{display: none;}
  
}



@media (min-width:650px) and (max-width:900px) {

  .more{
    border-radius: 20px;
    width: 310px;
    padding: 25px;
    backdrop-filter: blur(30px);
    font-size: 18px;
  }

  .cont-cont{
    height: 140px;
  margin-left: calc(-180px - 1vw);
  margin-right: 30px;
  margin-top: 70px;
  position: relative;
  top: calc(50% - 140px);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  }
  
  .name{
    font-size: 80px;
  }
  
  .phrase{
    margin-top: 20px ;
    font-size: 32.5px;
  }
  
  .phrase-two{
    font-size: 66px;
  }
 
}


